//
//  Debug.xcconfig
//  news-example
//
//  Created by Eszenyi Gábor on 2021. 04. 14..
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - Genaral App Configuration

BUNDLE_ID = com.gaboreszenyi.news-example

APP_NAME = News


// MARK: - API Connection

BASE_URL = https:/$()/newsapi.org/v2

API_KEY = f71af7261c434b5d8be60816ed910d8b

